.preview {
    border: 1px darkgray solid;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: left;
}

.container button {
    background: none;
    border: 1px black solid;
    margin-top: 10px;
}

.information {
    font-size: .75em;
    color: blue;
    cursor: pointer;
}

.container button.information {
    border: none;
}

.information-container {
    position: relative;
}

.popup {
    position: absolute;
    background: white;
    border: 1px darkgray solid;
    padding: 10px;
    top: -60px;
    left: 0;
}