* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: #26c6da;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(27,164,166,1) 0%,
    rgba(32,204,207,0.9) 59%,
    rgba(18,107,109, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}
.login .loginContainer label {
  color: #ffffff;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align:  right;
  color: #ffffff;
}

.login .loginContainer .btnContainer p span {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #7e7575;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.dashboard {
  width: 100%;
  /* background: radial-gradient(
    ellipse at left bottom,
    rgba(27,164,166,1) 0%,
    rgba(32,204,207,0.9) 59%,
    rgba(18,107,109, 0.9) 100%
  ); */
}

.dashboard nav {
  background: #3bacbb;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard nav h2 {
  color: #ffffff;
}

.dashboard nav button {
  width: 90px;
  padding: 8px 0;
  background-color: #2b5458;
}